(function () {
  var dbName = '%s';
  var query = { '_id': 1 };

  db[dbName].findAndModify({
    'query': query,
    'update': {
      '$set': {
        'locked': true
      }
    },
    'upsert': true,
    'new': true
  });

  return db[dbName].findOne(query);
})();